.sudoku-grid {
  border: 2px solid black;
  color: black;
  display: grid;
  font-size: 2rem;
  grid-template-columns: repeat(9, 2em);
  grid-auto-rows: 2em;
}

.sudoku-grid__cell {
  border: 1px solid #666;
  display: grid;
  place-items: center;
}

.sudoku-grid__cell:nth-child(3n + 1) {
  border-left: 2px solid black;
}

.sudoku-grid__cell:nth-child(3n) {
  border-right: 2px solid black;
}

.sudoku-grid__cell:not(:nth-child(n + 10)),
.sudoku-grid__cell:nth-child(n + 28):not(:nth-child(n + 37)),
.sudoku-grid__cell:nth-child(n + 55):not(:nth-child(n + 64)) {
  border-top: 2px solid black;
}

.sudoku-grid__cell:nth-child(n + 19):not(:nth-child(n + 28)),
.sudoku-grid__cell:nth-child(n + 46):not(:nth-child(n + 55)),
.sudoku-grid__cell:nth-child(n + 73) {
  border-bottom: 2px solid black;
}
